{% extends 'global/base.html' %}
{% block 'title' %}{{title}}{% endblock 'title' %}
{% block 'content' %}

<div class="container">
    {% if post_search_title %}
        <h1 class="forum-title mb-4 text-center text-break mt-3 mb-5">Posts encontrados com o termo "{{search_term}}"</h1>
    {% endif %}
    {% for post in posts %}
    <div class="row" id="secondary-news">
        <div class="col-5">
            <a href="{% url 'news:created_news' post.slug %}"><img src="{{post.image.url}}" style="height:200px; width: 100%;"></a>
        </div>
        <div class="col-7">
            <a href="{% url 'news:created_news' post.slug %}"><h4>{{post.title}}</h4></a>
            <p>{{post.description}}</p>
            <p class="secondary-news-date">{{post.created_at}}</p>
        </div>
    </div>
    <hr>
        {% empty %}
            <h1 class="text-center">Não há nada aqui no momento :(</h1>
    {% endfor %}

    {% include 'global/partials/__pagination.html' %}
</div>

{% endblock 'content' %}
