<footer class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-sm-6 pt-3 pb-3">
                    <a href="">Quem somos</a>
                    <a href="">Contato</a>
                    <a href="">Sobre nossa empresa</a>
                </div>
                <div class="col-sm-6 pt-3 pb-3">
                    <a href="https://www.facebook.com/MaxDias29/" target=”_blank” rel=”noopener”><i class="fa-brands fa-facebook" style="color: #0b5fef;"></i>Facebook</a>
                    <a href="https://www.youtube.com" target=”_blank” rel=”noopener”><i class="fa-brands fa-youtube" style="color: #ed0c0c;"></i>Youtube</a>
                    <a href="https://www.instagram.com/__maxdias/" target=”_blank” rel=”noopener”><i class='fab fa-instagram' style='color:red'></i>Instagram</a>
                    <a href="https://www.linkedin.com/in/max-dias-a45276280/" target=”_blank” rel=”noopener”><i class="fa-brands fa-linkedin" style="color: #4e89ef;"></i>Linkedin</a>
                </div>
            </div>
        </div>
    </div>
</footer>